<div class="d-flex">
  <app-albums-music-navbar></app-albums-music-navbar>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <ng-container *ngIf="countAlbums$ | async as nbAlbums">
        <h4>Nombre d'albums trouvés : {{ nbAlbums }}</h4>
      </ng-container>
      <ng-container
        *ngIf="listAlbumsState$ | async as state"
        [ngSwitch]="state.dataState"
      >
        <ng-container *ngSwitchCase="albumsStateEnum.ERROR">
          <div>{{ state.errorMessage }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="albumsStateEnum.LOADED">
          <div
            class="card m-3 border-success bg-dark"
            style="width: 350px; margin-right: 10px; margin-bottom: 10px"
            *ngFor="let album of state.albums"
          >
            <img
              class="img-thumbnail img-rounded btn"
              alt="album.albumName"
              [src]="host + '/photo/' + album.id"
            />
            <div class="row g-0">
              <div class="col">
                <div class="card-body">
                  <button (click)="onEditPhoto(album)">
                    <span class="fa fa-download"></span>
                  </button>
                  <p *ngIf="editPhoto && currentAlbum == album">
                    <input type="file" (change)="onSelectedFile($event)" />
                    <button
                      class="btn btn-success mt-2"
                      (click)="onUploadPhoto()"
                    >
                      Upload
                    </button>
                  </p>
                  <h5 class="card-title text-center text-danger">
                    {{ album.albumName }}
                  </h5>
                  <h5 class="card-text text-white">
                    <small>{{ album.bandName.name }}</small>
                  </h5>
                  <p class="card-text text-white">
                    <small>{{ album.releaseYear }}</small>
                  </p>
                  <p class="card-text text-success">
                    {{ album.musicalGenre.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination"*ngFor="let album of state.albums">
              <li class="page-item">
              </li>
              <li class="page-item"  ><a class="page-link" >d</a></li>
              <li class="page-item">
            </ul>
          </nav>
        </ng-container>
      </ng-container>
      <!--<ng-container *ngIf="listAlbumsState$ | async as state" [ngSwitch]="state.dataState">
        <ng-container *ngSwitchCase="albumsStateEnum.ERROR">
            <div>{{state.errorMessage}}</div>
        </ng-container>
        <ng-container *ngSwitchCase="albumsStateEnum.LOADED">
        <div *ngFor="let a of state.albums">
            <h4>{{a.albumName}}</h4>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination"*ngIf="pages">
              <li class="page-item">
              </li>
              <li class="page-item" [ngClass]="i ==currentPage? 'active' : ''"*ngFor="let p of pages ; let i= index"><a class="page-link" (click)="onPageChange(i)">{{i}}</a></li>
              <li class="page-item">
            </ul>
          </nav>
         </ng-container>
        </ng-container>-->
    </div>
  </div>
</div>
